/* 全てに適用するCSS */
html {
font-size: 100%;
}
/* bodyのフォントサイズを1.6em（16px）に設定 */
body {
	font-size: 1.2em;
}
h1{
	font-size: 2.5rem;
}
h2{
	font-size: 2rem;
}
h3{
	font-size: 1.5rem;
}
h4{
	font-size: 1rem;
}
img{
	height: 300px;
	width: 220px
}

/*タブ切り替え全体のスタイル*/
.tabs {
	margin-top: 50px;
	padding-bottom: 40px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
	width: calc(100%/2);
	height: 50px;
	border-bottom: 3px solid #f5793f;
	background-color: #d9d9d9;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #565656;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	transition: all 0.2s ease;
}
.tab_item:hover {
	opacity: 0.75;	
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
	display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
	display: none;
	padding: 20px 20px 0;
	clear: both;
	overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content {
	display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
	background-color: #f5793f;
	color: #fff;
}


/*infoエリアをはじめは非表示*/
#info{
	display: none;
}

/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 600px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}


/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and ( max-width:600px )
{
	p{
		font-size: 0.8rem;
	}
	h1{
		font-size: 2.5rem; /* 30px */
	}
	h2{
		font-size: 1.6rem; /* 25px */
	}
	h3{
		font-size: 1rem; /* 20px */
	}
	h4{
		font-size: 0.8rem; /* 15px */
	}

	img{
		height: 180px;
		width: 140px;
	}

	.long{
		display: none;
	}
}