/* 全てに適用するCSS */
html {
font-size: 100%;
}
/* bodyのフォントサイズを1.6em（16px）に設定 */
body {
	font-size: 1.2em;
	background-image: url(picture/background.jpg);
	background-repeat: repeat-y;  
	background-size:  contain;   
}
h1{
	font-size: 2.5rem;
}
h2{
	font-size: 2rem;
	font-family: 'Kiwi Maru', serif;
}
h3{
	font-size: 1.5rem;
}
h4{
	font-size: 1rem;
}
#mypic img{
	height: 300px;
	width: 220px
}

/*タブ切り替え全体のスタイル*/
.tabs {
	margin-top: 50px;
	padding-bottom: 40px;
	background-color: #c7f9ff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
	width: calc(100%/2);
	height: 50px;
	border-bottom: 3px solid #f5793f;
	background-color: #d9d9d9;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #565656;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	transition: all 0.2s ease;
}
.tab_item:hover {
	opacity: 0.75;	
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
	display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
	display: none;
	padding: 20px 20px 0;
	clear: both;
	overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content {
	display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
	background-color: #f5793f;
	color: #fff;
}

/*infoエリアをはじめは非表示*/
#info, #leadership, #inquiring_mind, #diligent{
	display: none;
}
/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 600px;
}
/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

.header-box {
  height: 60px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: rgb(214, 255, 244, 0.7);
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 20%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  font-weight: 600;
}

nav {
  width: 30%;
}

#header a {
  display: block;
  width: 100%;
  line-height: 80px;
  text-align: center;
}

.mobile-menu {
  display: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
}

/* 強みのCSS */
a.btn--red.btn--cubic {
  color: #fff;
  background-color: #3082fd;
  border-bottom: 5px solid #185685;
}

a.btn--red.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #185685;
}

a.btn--radius {
  border-radius: 100vh;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}
.annotation{
	background-color: rgb(248, 248, 248);
}

/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and ( max-width:600px )
{
	p{
		font-size: 0.8rem;
	}
	.annotation a{
		font-size: 0.8rem;
	}
	li{
		font-size: 0.8rem;
	}
	h1{
		font-size: 2.5rem; /* 30px */
	}
	h2{
		font-size: 1.6rem; /* 25px */
	}
	h3{
		font-size: 1rem; /* 20px */
	}
	h4{
		font-size: 0.8rem; /* 15px */
	}
	#mypic{
		width: 100%;
	}
	#logopic{
		height: 58px;
	}
	.long{
		display: none;
	}
	.mobile-menu {
		display: block;
	}
	.pc-menu {
		display: none;
	}
}